
// Colors
$font-color: #FFFFFF;
$background-color: black;
$opacity-background-color: rgba(255, 255, 255, 0.2);
$gradient-color: linear-gradient(95deg, #64E275 -30.35%, #11B6BC 27.45%, #1776B1 146.5%);
$gradient-backgroud: linear-gradient(93deg, #64E275 -74.03%, #11B6BC 12.62%, #1776B1 99.27%);
// Breakpoints
// $desktop: 768px;
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$large-desktop: 1200px;
// Spacing
$container-max-width: 120rem;
$container-width: 95%;

//Fonts

$textFont : 'Space Grotesk';
$mobileTextSize : 1.5rem;
$desktopTextSize: 2.4rem;
$font-style: normal;
$line-height: normal;

$mobileTextWeight: 400;
$desktopTextWeight: 400;
$maxTextWeight:700;


// Z-index layers
$z-logo: 1001;
$z-menu: 1000;
$z-fixed-header: 10000;

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px = 1rem
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    background-color: $background-color;
    margin: 0;
    padding: 0;
    font-family: $textFont;
    line-height: $line-height;
    color: $font-color;
    height: 100vh;
}


