// Colors
$font-color: #FFFFFF;
$background-color: black;
$opacity-background-color: rgba(255, 255, 255, 0.2);
$gradient-color: linear-gradient(95deg, #64E275 -30.35%, #11B6BC 27.45%, #1776B1 146.5%);
$gradient-backgroud: linear-gradient(93deg, #64E275 -74.03%, #11B6BC 12.62%, #1776B1 99.27%);
$facts-section-background:linear-gradient(62.05deg, #64E275 -0.02%, #11B6BC 53.63%, #1776B1 85.33%);
$gradient-title: linear-gradient(92.58deg, #64E275 -29.75%, #11B6BC 45.66%, #1776B1 121.08%);
