@use '../base' as *;

.custom-form {

    padding: 0 7vw 1rem 7vw;

    @media (min-width: $desktop) {
        padding-right: 4vw;
        padding-bottom: 1rem;
        padding-left: 3vw;
        padding-top: 0;
    }

    .form-title {
        font-weight: bold;
        font-size: $desktopTextSize;
        line-height: 1;
        letter-spacing: 0;
        margin-bottom: 0.5rem;
        width: 50%;

        @media (min-width: $desktop) {
            font-size: $desktopTitleTextSize;
            width: 100%;


        }
    }

    // === Description ===
    .form-description {
        font-weight: 300;
        font-size: $mobileSmallTextSize;
        line-height: 1;
        letter-spacing: 0;
        margin-bottom: 1.5rem;
        width: 80%;

        @media (min-width: $desktop) {
            font-size: $mobileSmallTextSize;
            width: 70%;

        }
    }

    .form-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        .form-row {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
            margin-bottom: 1rem;

            input,
            textarea {
                width: 100%;
                max-width: 42.2rem;
                height: clamp(4rem, 5vw, 5.4rem);
                padding: 0 1rem;
                font-size: 1.4rem;
            }

            .button {
                display: none;
            }

            @media (min-width: $desktop) {
                flex-direction: row;
                gap: 2rem;
                margin-bottom: 0;



                input,
                textarea {
                    flex: 1;
                    width: 42.2rem;
                    font-size: 1.8rem;

                }

                .button {
                    display: flex;
                    width: clamp(9.9rem, 15vw, 14rem);
                    height: clamp(2.7rem, 5vw, 5.5rem);
                    font-size: clamp($mobileSmallTextSize, 2vw, $mobileBigTextSize);
                    align-self: flex-start;
                }
            }
        }

        .form-actions {
            display: flex;
            align-items: center;
            justify-content: space-between;


            .button--linkedin {

                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: clamp(2.4rem, 6vw, 4rem);
                height: clamp(2.4rem, 6vw, 4rem);
                font-size: clamp($mobileSmallTextSize, 2.5vw, $desktopTextSize);
                font-weight: 600;
                color: #11B6BC;
                ;
                background-color: $font-color;
                border: none;
                border-radius: 0.1rem;
                cursor: pointer;
                text-align: center;
                text-decoration: none;
            }

            @media (min-width: $desktop) {
                justify-content: flex-start;
                margin-top: 0.5rem;

                .button {
                    display: none;
                }

                .button--linkedin {
                    font-weight: 700;
                    border-radius: 0.2rem;

                }
            }
        }
    }

}